<div *ngIf="product" class="detail-container">
  <div class="detail-item">
    <img class="img" src="{{ product.url }}" alt="{{ product.name }}" />
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <p>{{ product.price }}</p>
    <p>
      <select class="product-input" [(ngModel)]="quantity">
        <option *ngFor="let option of options" value="{{ option }}">
          {{ option }}
        </option>
      </select>
    </p>
    <p><button (click)="addToCart()">Add to cart</button></p>
    <p><a routerLink="/products">Back to product list</a></p>
  </div>
</div>
